*{font-family: "Arial";}

nav {
    text-align: center;
    background-color: darkgray;
    position: fixed;
    width: 40%;
}

.nav-wrapper li{
    display: inline;
    padding: 30px;
}

.nav-wrapper a{
    color: white;
    text-decoration: none;
}

a:hover {
    background-color: black;
}

#home {
    background-color: beige;
    height: 300px;
    padding: 50px 20px;
}

#dome {
    background-color: burlywood;
    height: 300px;
    padding: 50px 20px;
    
}

#come {
    background-color: coral;
    height: 300px;
    padding: 50px 20px;

}

#mome {
    background-color: darkkhaki;
    height: 300px;
    padding: 50px 20px;
}

.content {
    color: brown;
    text-align: center;
    border: 1px solid white;
    box-shadow: 10px 10px 1px 0px white;
}

img {
    box-shadow: 5px 5px 1px 5px white;
}